<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Aqui vai ser onde o cliente vai poder ver os pedidos que ele ja fez tanto como o status,etc, o esquema é salvar o id do pedidos nos cookies, e o proprio server ja enviar toda a informação -->
    <!--Para pegar a info, so dar um get em http://localhost:5000/order/-->
    
       seus pedidos

</body>
</html>